* {
    font-family: monospace;
    background-color: #22162b;
    padding: 0px 20px 0px 20px;
}
header {
    display: block;
    color: white;
    padding: 30px 10px 30px 10px;
}
header h1 {
    color: white;
    letter-spacing: 3px;
    font-size: 60px;
    font-weight: bolder;
}
header a {
    text-decoration: none;
}
header a h1:hover{
    color: orange;
}
header h3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
header navigation {
    
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
header navigation a {
    text-decoration: none;
    color: white;
    border: 5px dotted white;
    padding: 5px;
}
header navigation a:hover {
    color: orange;
}
body section {
    display: flex;
    justify-content: space-around;
}
body section img {
    display: block;
}
footer {
    color: white;
    background-color: #451f55;
    padding: 30px 10px 30px 10px;
}
footer h1 {
    background-color: #451f55;
    font-size: 40px;
    font-weight: bolder;
}
footer ul{
    background-color: #451f55;
    font-size: 25px;
}
footer ul li {
    background-color: #451f55;
    list-style: none;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
footer ul li a {
    background-color: #451f55;
    text-decoration: none;
    color: #f8c630;
}